.DS_Store
demo.bib
Presentation.aux
Presentation.fdb_latexmk
Presentation.fls
Presentation.log
Presentation.nav
Presentation.out
Presentation.snm
Presentation.synctex.gz
Presentation.toc
Presentation.vrb
Presentation.xdv
Presentation.blg
Presentation.bcf
Presentation.bbl
Presentation.run.xml
Presentation.synctex(busy)
Figures/advec-condens.drawio
Figures/advec-condens.png
Figures/lsadraw.png
Figures/lsadraw.drawio
Presentation.tex
Figures/DufauxTable.png
Figures/CRM.drawio
Figures/CRM.png
